# Ignore these files

# backups and testers
backup.html
icons/!-mic-recording.svg
styles/fonts-orig-backup.css
styles/window-sizes-info.css

# School assignment
project-report.hwp.lnk

# Ignore these temporarily
# fonts/temp/
