/* 본문 */

body {
    font-family: 'NanumSquareRoundL';
    color: #c6c6ff;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;

    background: linear-gradient(#55507e, #20193b, #0c0e14) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.outer {
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5vmin;
    text-align: center;
}
.inner {
    display: table-cell;
    vertical-align: middle;
    /*background-color:#272e46;*/
}

/* 버튼 : 마이크 */

#mic[type=button] {
    cursor: pointer;
    border: none; outline: none;
    padding: 14vmin;

    background: url('icons/mic-normal.svg'),
    url('https://raw.githubusercontent.com/NeboByeoli/music-search-by/master/icons/mic-normal.svg');
    background-repeat: no-repeat;
}

#mic[type=button]:hover {
    background: url('icons/mic-hover.svg'),
    url('https://raw.githubusercontent.com/NeboByeoli/music-search-by/master/icons/mic-hover.svg');
    background-repeat: no-repeat;
}

#mic[type=button]:active {
    background: url('icons/mic-clicked.svg'),
    url('https://raw.githubusercontent.com/NeboByeoli/music-search-by/master/icons/mic-clicked.svg');
    background-repeat: no-repeat;
}

/* 녹음 중에서의 버튼 : 마이크 */

#micActive[type=button] {
    cursor: pointer;
    border: none; outline: none;
    padding: 14vmin;

    background: url('icons/micActive-normal.svg'),
    url('https://raw.githubusercontent.com/NeboByeoli/music-search-by/master/icons/micActive-normal.svg');
    background-repeat: no-repeat;
}

#micActive[type=button]:hover {
    background: url('icons/micActive-hover.svg'),
    url('https://raw.githubusercontent.com/NeboByeoli/music-search-by/master/icons/micActive-hover.svg');
    background-repeat: no-repeat;
}

#micActive[type=button]:active {
    background: url('icons/micActive-clicked.svg'),
    url('https://raw.githubusercontent.com/NeboByeoli/music-search-by/master/icons/micActive-clicked.svg');
    background-repeat: no-repeat;
}

/* 녹음 음성 화면 표시 */

#visualizer {
/*
    border: .2rem solid violet;
*/
    z-index: -1;
    width: 100vw;
    height: 100vh;
    opacity: 50%;

    position: absolute;
}